:root {
    --colour-red: #9f1239;
    --colour-light-red: #f43f5e;
    --colour-green: #047857;
    --colour-light-green: #34d399;
}

@font-face {
    font-family: "Fell";
    src: url("./assets/fellfrenchcanon.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: "Fell", serif;
    box-sizing: border-box;
}

button {
    appearance: none;
}

button:focus {
    outline: none;
}

.continue-button {
    font-size: 1.8rem;
    text-transform: uppercase;
    line-height: 130%;
    padding: 0.5rem 1rem;
    appearance: none;
    border: 3px solid #000;
    background: #fff;
    position: relative;
}

.continue-button:focus {
    outline: none;
}

.continue-button:focus {
    box-shadow: 0 0 0 5px green;
}

/*.shadowed-text {
    text-shadow:
        -2px -2px 0 #fff,  0 -2px 0 #fff,  2px -2px 0 #fff,
        -2px  0   0 #fff,  2px  0   0 #fff,
        -2px  2px 0 #fff,  0  2px 0 #fff,  2px  2px 0 #fff;
}*/

.shadowed-text {
    color: #fff;
}

.bg-image {
    position: fixed;
    inset: 0;
}

.bg-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.walls {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wall {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.direction {
    position: absolute;
    bottom: 2rem;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    border-radius: 999px;
    background: #000;
    color: #fff;
    border: 2px solid #fff;
    z-index: 50;

    svg {
        width: 100%;
        height: 100%;
        display: inline-flex;
    }
}

.direction.right {
    right: 0.5rem;
}

.direction.left {
    left: 0.5rem;
}

p {
    background: rgba(0, 0, 0, 0.6);
    padding: 0.2rem;
}